@using BaseOfTalents.Models;
@model IEnumerable<VacancyListEntry>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <table>
            
        </table>
        @using (Html.BeginForm("Search", "VacanciesList", FormMethod.Get))
        {
            
        }
    </div>
</body>
</html>
