@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p> Поиск кандидатов </p>
        @using (Html.BeginForm())
        {
            <p> Имя кандидата: </p>
            @Html.TextBox("Name")
            <input type="submit" value="Поиск"/>            
        }

        <p> Результаты поиска </p>
        <table>
            <tr> 
                <td>Id</td>
                <td>Имя</td>
                <td>Изменен</td>
            </tr>
            <tr>
            @if (ViewBag.Candidate == null)
            {
                <td colspan="3"> Ничего не найдено </td>
            }
            else
            {
                <td> @ViewBag.Candidate.Id </td>
                <td> @ViewBag.Candidate.FirstName </td>
                <td> @ViewBag.Candidate.LastEditTime </td>
            }
            </tr>
        </table>
    </div>
</body>
</html>
