@model BaseOfTalents.Models.Candidate

@{
    ViewBag.Title = "CandidateEdit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Редактирование</h2>
    <div>
        @using (Html.BeginForm())
        {
            <p> Имя кандидата: </p>
            @Html.Hidden("Id", Model.Id);
            @Html.TextBox("FirstName", Model.FirstName);
            <input type="submit" value="Сохранить"/>            
        }   
    </div>
</body>
</html>

